<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/styles.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"
            rel="stylesheet"
        />

        <script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>
        <script src="js/phaser.js"></script>
        <script src="js/main-scene.js"></script>

        <script src="https://unpkg.com/vue@next"></script>
        <title>Document</title>
    </head>
    <body>
        <div id="ui">
            <div class="top-bar">
                <div class="top-bar__tab-con">
                    <div
                        :class="{'top-bar__tab': true, 'top-bar__tab_selected': currentTab === index}"
                        v-for="(tab, index) in tabs"
                        @click="currentTab = index"
                    >
                        <p>{{tab.name}}</p>
                        <button v-if="!tab.playing" @click="playGame(index)">
                            <i class="fas fa-play-circle"></i>
                        </button>
                        <button v-if="tab.playing" @click="stopGame(index)">
                            <i class="fas fa-stop-circle"></i>
                        </button>
                        <button
                            @click.stop="closeTab(index)"
                            v-if="tabs.length > 1"
                        >
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="top-bar__dropdown-con">
                  <div class="top-bar__dropdown-button" @click="toggleTrail">
                      <img src="assets/tool_trail.png" />
                      <p>toggle trail</p>
                  </div>
                  <div class="top-bar__dropdown-button" @click="clearTrail">
                      <img src="assets/tool_clear_track.png" />
                      <p>clear trail</p>
                  </div>
                </div>
            </div>
            <div class="main">
                <div class="tool-bar">
                    <button class="tool-bar__tool versions" @click="versionView = !versionView">
                      <img src="assets/tool_branch.png" />
                      <p>verions</p>
                    </button>
                    <div class="tool-bar__spacer"></div>
                    <button
                        :class="{'tool-bar__tool': true, 'tool-bar__tool_selected': selectedTool === index}"
                        @click="selectedTool = index"
                        v-for="(tool, index) in tools"
                    >
                        <img :src="'assets/' + tool.icon_img" />
                        <p>{{tool.name}}</p>
                    </button>
                    <div class="tool-bar__spacer"></div>
                </div>

                <div class="viewport-con">
                    <div id="viewport"></div>
                    <div class="version-view" v-show="versionView">

                        <div v-for="version in rootVersions">
                            <version-tree
                                :versions="subVersions"
                                :current-version="version"
                                :current-tab-object="currentTabObject"
                                @new-tab="newTab($event)"
                                @make-new-version="makeNewVersion"
                            ></version-tree>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template type="text/x-template" id="version-tree">
            <div :class="{'version': true, 'version--current': currentTabObject.versionNumber === currentVersion.version}">
                <button class="btn-new-tab" @click="$emit('new-tab', currentVersion.version)">+</button>
                <p>version: {{currentVersion.version}}</p>
                <p v-if="currentVersion.fromVersion !== null">
                    based on version {{currentVersion.fromVersion}}
                </p>
                <p>name: "{{currentVersion.name}}"</p>
                <p>
                    created: {{currentVersion.createdDate.toLocaleDateString()}}
                    {{currentVersion.createdDate.toLocaleTimeString()}}
                </p>
                <!-- <input
                    type="text"
                    size="1"
                    v-model="currentVersion.name"
                    placeholder="currentVersion name"
                /> -->
                <button
                    class="version-view__new"
                    v-if="currentTabObject.versionNumber === currentVersion.version"
                    @click="$emit('make-new-version')"
                >
                    +
                </button>
            </div>

            <div class="version-agg">
              <div class="agg-box"></div>
            </div>

            <div class="version-row">

                <div class="version-col" v-for="(version, index) in filteredVersion">

                    <div class="version-lines">
                      <div class="vl vl-1"></div>
                      <div class="vl vl-2"></div>
                      <div class="vl vl-3"></div>
                    </div>

                    <version-tree
                        :versions="versions"
                        :current-version="version"
                        :current-tab-object="currentTabObject"
                        @new-tab="$emit('new-tab', $event)"
                        @make-new-version="$emit('make-new-version')"
                    >
                    </version-tree>
                </div>
            </div>
        </template>
        <script src="js/main.js"></script>
    </body>
</html>
