@import 'fontawesome.scss';
@import 'solid.scss';

:root {
  --primary: #FFE600;
  --secondary: #5800AF;
  --secondary-darker: #420085;
  --shadow: #1B0053;
  --background: #0E0424;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

canvas {
    display: block;
}

#viewport {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

#ui {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar {
    height: 80px;
    background-color: var(--shadow);
    display: flex;
    border: 10px solid var(--secondary);
    border-bottom: none;

    &__tab-con {
        flex: 1;
        display: flex;
        height: 100%;
        margin-left: 60px;
    }
    &__tab {
        height: 100%;
        background-color: var(--secondary-darker);
        display: flex;
        align-items: center;
        margin: 10px;
        padding: 10px;
        border: 10px solid var(--shadow);
        border-bottom: none;
        > p {
            color: var(--primary);
            margin: 0;
            margin-right: 30px;
        }
        > button {
            color: var(--primary);
            border: none;
            background: none;
            font-size: 1rem;
            width: 30px;
            height: 30px;
        }

        &_selected {
            color: var(--background);
            border: 10px solid var(--secondary);
            background-color: var(--background);
            border-bottom: none;
        }
    }

    &__dropdown-con {
        display: flex;
        justify-content: space-evenly;
        //background-color: var(--primary);
        width: 200px;
        height: 80px;
        position: absolute;
        margin: 70px 50%;
        z-index: 10;
    }
    &__dropdown-button {
        height: 50px;
        width: 50px;
        > img {
            border-radius: 0 0 10px 10px;
        }
        > p {
            margin: 0;
            font-size: 0.8rem;
            text-align: center;
            color: var(--primary);
            background-color: var(--secondary);
        }
    }
}
.main {
    flex: 1;
    display: flex;
}
.tool-bar {
    width: 80px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    &__tool {
        font-size: 1rem;

        color: #fff;

        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: none;
        background-color: #2220;
        transition: background-color .4s ease;
        opacity: .5;
        > p {
            margin-bottom: 0;
            margin-top: .5rem;
        }
        > i {
            transform: scale(1);
            transition: transform .4s ease;
        }
        &:hover {
            transition: background-color .1s ease;
            background-color: #222f;
            cursor: pointer;
        }
        &_selected {
            opacity: 1;
            > i {
                transition: transform .1s ease;
                transform: scale(2);
            }
            transition: background-color .1s ease;
        }
    }
    &__spacer {
        flex: 1;
    }
}

.viewport-con {
    position: relative;
    flex: 1;
}

.version-view {
    background-color: var(--secondary-darker);
    position: absolute;
    box-shadow: 0 10px 10px #0001;
    top: 0;
    left: 0;
    height: 95%;
    width: 95%;
    overflow: auto;
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 100%;
    grid-auto-flow: column;
    // border-radius: 0 0 1rem 0;
    gap: 1rem;
    padding: 1rem;
    margin: 20px;
    border: 10px solid var(--primary);
    z-index: 20;

    > button.btn-close {
        position: absolute;
        top: -5px;
        left: -5px;
        padding: 0px;
        border: none;
        width: 50px;
        height: 50px;
    }

    &__new {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--background);
        background-color: var(--primary);
        border: none;
        font-size: 1.5rem;
        padding: 1rem;
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: -50px;
        > p {
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .version {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #aaa;
        padding: 1rem;
        position: relative;
        color: var(--primary);
        background-color: var(--background);
        border: 10px solid var(--secondary);
        width: 200px;
        margin: auto;

        &--current {
            border: 10px solid var(--primary);
        }

        > button.btn-new-tab {
            color: var(--background);
            background-color: var(--primary);
            position: absolute;
            top: 0px;
            right: 0px;
        }

        > p {
            margin: 0;
            margin-bottom: 10px;
        }
        > input {
            width: 100%;
            display: block;
        }
    }
    .version-lines {
        display: flex;
        justify-content: center;
        .vl {
            height: 64px;
            //border: 10px solid var(--secondary);
            //border-bottom: none;
        }
    }
    .vl-2 {
        width: 0;
        border: 5px solid var(--secondary);
    }
    .version-col {
        width: 100%;
    }
    .version-col > .version-lines > .vl-1,.vl-3 {
        width: 100%;
        border-top: 10px solid var(--secondary);
    }
    .version-col:first-child > .version-lines > .vl-1 {
        border-top: none;
    }
    .version-col:last-child > .version-lines > .vl-3 {
        border-top: none;
    }
    .version-row {
        display: flex;
        justify-content: space-around;
    }
    .version-agg {
        display: flex;
        justify-content: space-around;
        .agg-box {
            height: 64px;
            border: 5px solid var(--secondary);
        }
    }
}
