body {
    margin: 0;
}

canvas {
    display: block;
}

#viewport {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

#ui {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar {
    height: 50px;
    background-color: #aaa;
}
.main {
    flex: 1;
    display: flex;
}
.tool-bar {
    width: 50px;
    background-color: #ccc;
}

.viewport-con {
    position: relative;
    flex: 1;
}