@import 'fontawesome.scss';
@import 'solid.scss';

body {
    margin: 0;
}

canvas {
    display: block;
}

#viewport {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

#ui {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar {
    height: 50px;
    background-color: #aaa;
}
.main {
    flex: 1;
    display: flex;
}
.tool-bar {
    width: 50px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    &__tool {
        font-size: 1.5rem;

        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: none;
        background-color: #fff0;
        transition: background-color .4s ease;
        &:hover {
            transition: background-color .1s ease;
            background-color: #ffff;
            cursor: pointer;
            border: none;
        }
    }
}

.viewport-con {
    position: relative;
    flex: 1;
}